<html>
    <head>
    <title>로그인 페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    </head>
    <body>
        <form action="/login" method="post">
            name :
            <input type="text" id='user_id' name="user_id" /> 
            password :
            <input type="password" id='user_pw' name="user_pw" />
            <button onclick="Login()">로그인</button>
        </p>
</form>
    </body>
    <script>
        function Login() {
            let user_id = $("#user_id").val();
            let user_pw = $("#user_pw").val();
            $.ajax({
                type:"POST",
                url:"/login",
                data: {
                    user_id: user_id,
                    user_pw: user_pw
                },
            success: function(response) {
                if (response.result == "success") {
                    $.cookie('access_token', response.access_token);
                    window.location.href = '/';
                    alert('로그인 성공')
                } else {
                    window.location.reload()
                    alert('아이디와 비밀번호를 다시 확인해주세요');
                }
            },
            error: function(){
                window.location.reload()
                alert('로그인 실패')
            }
        });
        }
    </script>
</html>